<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<link rel="stylesheet" href="../themes/common/reset.css"/>
		<link rel="stylesheet" href="../themes/bfc.css"/>
		<link rel="shortcut icon" href="../public/img/balloon.png"/>
		<title>页面标题</title>
	</head>
	<body>

	<div class="flow-left"></div>
	<div class="cell">asdasdadsadadasd</div>
	<div class="cell">cvbbnm</div>
	<div class="cell">qwewqrqwrqwr</div>
	
	<script src="../public/libs/jquery.js"></script>
	</body>
</html>