<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<meta charset="utf-8">
		<link rel="stylesheet" href="../themes/common/reset.css"/>
		<link rel="shortcut icon" href="../public/img/balloon.png"/>
		<style>
			/*PC*/
			@media (min-device-width: 1024px){			
				body { background: blue;}
			}
			/*平板*/
			@media (max-device-width: 1024px){
				body { background: red;}
			}
			/*手机*/
			@media (max-device-width: 414px){
				body { background: yellow;}
			}
			/*可见宽度<300*/
			@media (max-width: 300px){ 
				body { background: black;}
			}
		</style>
		<title>页面标题</title>
	</head>
	<body style="height: 2000px;">
	<form>
		<input>
		<input pattern='\d' required autofocus>
		<button>submit</button>
	</form>
	<script src="../public/libs/jquery.js"></script>
	</body>
</html>