<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
		<link rel="stylesheet" href="../themes/css3-1.css" />
		<link rel="stylesheet" href="../themes/common/bootstrap.min.css"/>
		<title>css3</title>
	</head>
	<body class="container">
		<div class="menu">
			<span class="head"></span>
			<ul class="items">
				<li><span>QWERYYU</span></li>
				<li><span>GHJ</span></li>
				<li><span>ZXCV</span></li>
				<li><span>AS</span></li>
			</ul>
			<div></div>
		</div>

		<div class="pie" id="pie-1">
			<div class="pie-main"></div>
			<div class="pie-white"></div>
			<div class="pie-content">
				<span>QWERTY</span>
			</div>
		</div>
		
		<div class="switch">
			<div class="lever"></div>
			<div class="base">
				<span>click</span>
			</div>
		</div>

		<div class="zone">
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
			<div class="box"></div>
		</div>
		
	</body>
	<script src="../public/libs/jquery.js"></script>
	<script src="../public/libs/bootstrap.min.js"></script>
	<script src="../public/js/css3.js"></script>
</html>