<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<link rel="stylesheet" href="../themes/common/reset.css"/>
		<link rel="shortcut icon" href="../public/img/balloon.png"/>
		<style>
		.main > div { width: 50px; height: 50px; border-radius: 50%; background: #c33; margin: 10px; 
			-webkit-animation: fadeIn 3s; }

		@-webkit-keyframes fadeIn {
			0% { opacity: 0; transform: scale(1,1);}
			40% { opacity: 1; transform: scale(1.02,1.02);}
			60% { opacity: .8; transform: scale(.98,.98);}
			100% { opacity: 1; transform: scale(1,1);}
		}

		</style>
		<title>页面标题</title>
	</head>
	<body>
		<section class="main">
			<div style="-webkit-animation-delay: .1s"></div>
			<div style="-webkit-animation-delay: .2s"></div>
			<div style="-webkit-animation-delay: .3s"></div>
			<div style="-webkit-animation-delay: .4s"></div>
			<div style="-webkit-animation-delay: .5s"></div>
			<div style="-webkit-animation-delay: .6s"></div>
		</section>
	<script src="../public/libs/jquery.js"></script>
	<script>




	</script>
	</body>
</html>