<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
		<link rel="stylesheet" href="../../themes/common/reset.css">
		<link rel="stylesheet" href="../../themes/practise/game.css">
		<title>game</title>
	</head>
	<body>
		<section class="game-main">
			<aside class="login">
				<a>收藏本页</a>
				<span class="fr">您好，欢迎来到心动游戏，<a>马上登录</a>或<a>注册</a></span>
			</aside>
			<header class="game-header clearfix">
				<a class="fl logo"></a>
				<nav class="fl">
					<a class="a-current">首页</a>
					<a>充值</a>
					<a>客服</a>
					<a>论坛</a>
					<a>会员</a>	
				</nav>
				<div class="query-input fr rel">
					<input placeholder="搜索">
					<a></a>
				</div>
			</header>
			<aside class="game-roll clearfix">
				<div class="game-roll-content">
					<a></a>
					<a></a>
				</div>
			</aside>
			<ul class="game-images clearfix">
				<li>
					<a class="img-box sp-new">
						<div>
							<img src="../../themes/practise/img/sxd.jpg">
						</div>
					</a>
					<section>
						<h3>神仙道</h3>
						<p>追寻成为仙人的秘密</p>
					</section>					
				</li>
				<li>
					<a class="img-box">
						<div>
							<img src="../../themes/practise/img/sy.jpg">
						</div>
					</a>
					<section>
						<h3>深渊</h3>
						<p>剑与魔法的荣耀！战，如临深渊！</p>
					</section>					
				</li>
				<li>
					<a class="img-box">
						<div>
							<img src="../../themes/practise/img/xxd.jpg">
						</div>
					</a>
					<section>
						<h3>仙侠道</h3>
						<p>百年情剑为谁炼，千年一梦道仙侠</p>
					</section>					
				</li>
				<li>
					<a class="img-box">
						<div>
							<img src="../../themes/practise/img/ktpd.jpg">
						</div>
					</a>
					<section>
						<h3>开天辟地</h3>
						<p>开天辟地资料片，迷失的二十八星宿</p>
					</section>					
				</li>
			</ul>

			<ul class="game-images game-images-square clearfix">
				<li>
					<a class="img-box">
						<div>
							<img src="../../themes/practise/img/js.jpg">
						</div>
					</a>
					<section>
						<h3>将神</h3>
						<p>攻城略地，策略三国</p>
					</section>					
				</li>
				<li>
					<a class="img-box sp-new">
						<div>
							<img src="../../themes/practise/img/sssg.jpg">
						</div>
					</a>
					<section>
						<h3>盛世三国</h3>
						<p>再现三国战事，万人国战，等你战！</p>
					</section>					
				</li>
				<li>
					<a class="img-box sp-new">
						<div>
							<img src="../../themes/practise/img/tdyx.jpg">
						</div>
					</a>
					<section>
						<h3>天地英雄</h3>
						<p>名将美女，英雄壮志</p>
					</section>					
				</li>
				<li>
					<a class="img-box">
						<div>
							<img src="../../themes/practise/img/sssg2.jpg">
						</div>
					</a>
					<section>
						<h3>盛世三国2</h3>
						<p>还原历史，一战名扬，万人敬仰！</p>
					</section>					
				</li>
			</ul>
		</section>
		<section class="game-mobile">
			<h2>手机游戏</h2>
			<div class="mobile-games clearfix">
				<a>
					<img src="../../themes/practise/img/sxd-and.jpg" class="waver-img">
					<p>《神仙道安卓版》</p>
				</a>
				<a>
					<img src="../../themes/practise/img/sxd-iph.jpg" class="waver-img">
					<p>《神仙道安卓版iPhone版》</p>
				</a>
				<a>
					<img src="../../themes/practise/img/js-hd.jpg" class="waver-img">
					<p>《将神HD》</p>
				</a>
				<a>
					<img src="../../themes/practise/img/xxd-mobile.jpg" class="waver-img">
					<p>《仙侠道手机版》</p>
				</a>
			</div>
		</section>
		<footer class="game-footer">
			<div>
	            <p>
	                <a>网络文化经营许可证：沪网文[2014]0745-175号</a>
	                <span class="pipe">|</span>
	                <a>沪ICP备11033765号</a>
	                <span class="pipe">|</span>
	                <a>增值电信业务经营许可证：B1.B2-20120154</a>
	                <img id="safeHy" src="http://web.xdcdn.net/xd/imgs/v4/layout/safe_hy.png?1429181134" alt="安全联盟行业认证">
	                <img id="safeGw" src="http://web.xdcdn.net/xd/imgs/v4/layout/safe_gw.png?1429181134" alt="安全联盟官网认证">
	            </p>    
	            <span>心动网络股份有限公司</span>
	        	<p>商务合作 Business Contact：cooperation@xindong.com</p>
        	</div>
    	</footer>
	<script src="../../public/libs/jquery.js"></script>
	<script src="../../public/js/practise/game.js"></script>
	</script>
	</body>
</html>